*.pyc
*.csv
*.xlsx
*.png
*.code-workspace
*.lnk
*.pb
*.data-00000-of-00001
*.index
*.7z
*results.txt
*results*.txt
*.pkl
*.pickle
obs_courses/*.txt
err_out.txt
log_out.txt
*.h5
40_on_all_data.txt
error*.txt
*_normal.txt
output_*.txt
*.npy
# The ones below this were to make my source control window easier to use
_error.txt
20_obs_row_changed.txt
change_indices_20_obs_file
new_data_20_obs_row_changed.txt
obstacle.txt
subplot_test_pic.ipynb
subplot_test_pic2.ipynb
testing.txt
